@import "tailwindcss";

.weather {
  background-image: url(/home/sunny.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.anim-slide-content {
  transform: translateX(310px);
  transition: transform 0.25s linear;
}

.remove-anim-slide-content {
  transform: translateX(0px);
  transition: transform 0.25s linear;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
